* {
    /* border: 1px dotted green; */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;       /** Cambiar la proporcion de 1rem que equivale a 16px a basa 10 donde ahora equivale 10px */
}

body {
    background-color: pink;
    font-size: 1.4rem;
}

h1 {
    font-size: 3rem;
}

/** Header */
.header {
    background-color: burlywood;
}

/** Mobile First */
.container {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .8rem;
}
.container-fluid {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/** Main */
.section-search {
    background-color: blue;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-search h1 {
    color: white;
    max-width: 32.7rem;
    width: 100vw;
}

.banner-img-restaurant,
.search-field {
    height: 30.5rem;
}

.banner-img-restaurant {
    width: 100vw;
    object-fit: cover;
    position: relative;
}
.search-field {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-field input[type="text"] {
    width: 100vw;
    height: 6rem;
    padding: 1rem 1.6rem;
    max-width: 38.8rem;
    border-radius: .8rem;
    border: 1px solid transparent;
    outline: none;
}

.main-container {
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
}

.aside {
    background-color: crimson;
}
.main-content {
    background-color: orange;
    flex-basis: 100%;
}

/** Footer */
.footer {
    background-color: blueviolet;
}


/** Media Queries: Container 
    NOTA: Los breakpoints solo soportan px
*/
@media ( min-width: 567px ) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
    }
    .main-container {
        flex-direction: row;
    }
    .aside {
        flex-basis: 28rem;
    }
}

@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
}

@media ( min-width: 1024px ) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
    .section-search h1 {
        max-width: 62.2rem;
    }
    .search-field input[type="text"] {
        max-width: 87rem;
    }
    .banner-img-restaurant,
    .search-field  {
        height: 36.8rem;
    }
}


@media ( min-width: 1200px ) {
    .container {
        max-width: 1140px;
        padding: 0 4rem;
    }
}

@media ( min-width: 1400px ) {
    .container {
        max-width: 1320px;
        padding: 0 4.8rem;
    }
}

@media ( min-width: 1600px ) {
    .container {
        max-width: 1440px;
        padding: 0 5.6rem;
    }
}

@media ( min-width: 1920px ) {
    .container {
        max-width: 1600px;
        padding: 0 6.4rem;
    }
}